.work-list {
  padding-top: 40px;
  .work-item {
    display: block;
    color: inherit;
    &:hover {
      text-decoration: none;
    }
    .work-title {
      font-size: 36px;
      font-weight: bold;
    }
    .work-description {
      font-size: 22px;
      margin-top: 8px;
    }
  }


  .work-item + .work-item {
    margin-top: 40px;
  }
}
